:root {
  --off-white: #f8f9f8;
  --algonquin-green: #006341;
  --light-algonquin-green: #e5efec;
  --dark-algonquin-green: #003328;
  --light-grey: #e9e9e9;
  --dark-grey: #c1c1c1;
  --black: #000000;
}

html {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.966);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.8rem;
}

h3 {
  font-size: 40px;
  font-weight: 600;
  color: var(--algonquin-green);
}

.navbar.hamburger {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;

  .social-icons,
  .nav-links {
    display: none;
  }

  .fa {
    display: flex;
    font-size: 1.2em;
    margin: 12px 0;
    margin-left: auto;
    padding-right: 1.5rem;
    justify-content: center;
    color: var(--off-white);
  }
}

.navbar.hamburger.open {
  /*background-color: red; */
  height: 12rem;

  .social-icons,
  .nav-links {
    display: flex;
    flex-direction: column;
  }

  .social-icons a,
  .nav-links li {
    margin-top: 0.5rem;
  }
}

.sponsors-content h3 {
  color: var(--off-white);
  text-align: center;
}

p {
  color: var(--off-white);
  line-height: 2rem;
}

.page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3em;
}

.home-title {
  margin: 0;
  color: var(--algonquin-green);
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}

.home-subtitle {
  margin: 0;
  color: var(--off-white);
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
  margin-top: 1em;
}

@keyframes DropFromTop {
  from {
    position: absolute;
    top: -2rem;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.navbar {
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /*background-color: var(--dark-algonquin-green);*/
  width: 100%;
  transition: all 0.5s ease;
  /*animation-name: DropFromTop;
  animation-duration: 2s;
  animation-delay: 0s;*/
}

/*Hamburger icon is off by default*/
.navbar .fa {
  display: none;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
}

.nav-links li {
  margin-right: 10px;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-right: 2rem;
  transition: all 0.5s ease;

  /*font-weight: 300;*/
}

.nav-links li a {
  text-decoration: none;
  color: var(--light-grey);
  font-size: 1em;
  transition: all 0.5s ease;
}

.social-icons a:hover i,
.nav-item {
  transition: transform 0.3s ease-in-out;
}

.social-icons a:hover i,
.nav-item:hover {
  transform: scale(1.2);
}

.social-icons {
  display: flex;
  margin: 12px 0;
  list-style: none;
  padding: 0;
  padding-right: 1em;
  display: flex;
  align-items: center;
}

.social-icons a {
  margin-right: 10px;
  text-decoration: none;
  color: var(--light-grey);
}

.social-icons i {
  font-size: 1.2em;
  margin: 0 10px;
}

#sponsors {
  background-color: #003328;
}

.grid-item {
  padding: 50px;
}

.grid-item img {
  height: 50px;
}

.sponsors-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sponsors-grid .grid-item img {
  width: 200px;
  height: 200px;
}

.home-subtitle,
.home-title {
  animation-name: fadeIn;
  animation-duration: 2.5s;
  animation-delay: 0s;
}

.team-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.comp-image img,
.team-content img {
  height: 350px;
  padding: 50px;
}

.text-content {
  width: 600px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.competition-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*
.filter {
  position: fixed;
  padding: 0;
  margin: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: url(#noiseFilter);
  opacity: 12%;
}
*/
.launch-info-content-wrapper,
.about-us-content-wrapper {
  display: flex;
  max-width: 960px;
}


.contact-form {
  margin-top: 4rem;
  padding: 2rem;
  display: grid;
  --cols: 1;
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: 1.5rem;
  background-color: var(--dark-grey);
}

.form-unit.full {
  grid-column: 1/-1;
}

form {
  max-width: 45rem;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem;
  border: 0.0625rem solid #ddd;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1333333333);
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

label {
  gap: 1rem;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

input,
select,
textarea {
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.contact-button {
  background-color: var(--algonquin-green);
  padding: 0.55em 1.5em 0.5em;
  border: 0.125rem solid var(--color-accent);
  color: #fff;
  border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  cursor: pointer;
  margin-top: 1rem;
  text-align: center;
  width: 25%;
}

.contact-button:hover {
  background-color: var(--dark-algonquin-green);
}

.contact-subtitle {
  margin: 0;
  margin-top: 4rem;
  color: var(--light-algonquin-green);
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

.sponsor-button {
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 1em 2em;
  background-color: var(--algonquin-green);
  color: var(--off-white);
  border: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.sponsor-button:hover {
  background-color: var(--dark-algonquin-green);
}

@media only screen and (min-width: 45em) {
  .contact-form {
    grid-column: span 2;
    --cols: 2;
  }

  .contact-title {
    font-size: 3.157rem;
  }
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .section {
    padding-top: 2rem;
  }

  .home-title {
    font-size: clamp(100%, 2rem + 2vw, 28px);
  }

  .home-subtitle {
    font-size: clamp(80%, 1rem + 1vw, 10px);
  }

  .social-icons {
    padding-right: 0;
  }

  .main-logo-svg {
    width: 100%;
    background-color: red;
      
  }

  .comp-image img {
    height: 280px;
    padding-bottom: 8%;
  }

  .text-content {
    width: 85%;
  }

  .sponsors-content>h3,
  .text-content>h3 {
    text-align: center;
    margin-bottom: 0;
  }

  #competition {
    padding-top: 0px;
  }

  .navbar {
    width: 100%;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

  /*
  .main-title{
    background-color: blue;
  }
  */
  .section {
    margin: 0 auto;
  }

  .text-content {
    width: 85%;
  }

  .team-content {
    justify-content: center;
  }

  .home-title {
    font-size: 200%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .home-title {
    font-size: clamp(100%, 1rem + 2vw, 47px);
  }

  .home-subtitle {
    font-size: clamp(100%, 1rem + 2vw, 18px);
  }

  .text-content>h3 {
    font-size: clamp(100%, 1rem + 2vw, 35px);
  }

  .text-content>p {
    font-size: clamp(100%, 1rem + 2vw, 15px);
  }

  .main-title {
    /*background-color: red;*/
    padding-top: 45px;
    padding-bottom: 90px;
  }

  .contact-container {
    width: min(45em, 100%);
    margin: 0 auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    align-items: center;
  }

  .contact {
    background-color: rgba(0, 0, 0, 0.966);
    display: flex;
    align-items: center;
    padding: 3rem 0;
  }

  .contact-title {
    margin: 0;
    color: var(--light-algonquin-green);
    font-size: clamp(100%, 1rem + 2vw, 60px);
    font-weight: 400;
    text-align: center;
  }
}