:root {
  --off-white: #F8F9F8;
  --algonquin-green: #006341;
  --light-algonquin-green: #E5EFEC;
  --dark-algonquin-green: #003328;
  --light-grey: #E9E9E9;
  --dark-grey: #c1c1c1;
  --black: #000000;
}

html {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
}

  .home-title{
    margin: 0;
    color: var(--off-white);
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 800;
  }

  .home-subtitle{
    margin: 0;
    color: var(--dark-grey);
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    margin-top: 1em;

}

h3 {
  font-size: 40px;
  font-weight: 400;
  color: var(--algonquin-green);
}

p {
  color: var(--off-white);
}

.page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--dark-algonquin-green);
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
}

.nav-links li {
  margin-right: 10px;
  text-decoration: none;
  font-size: 1em;
  letter-spacing: 1px;
  margin-right: 2rem;
  font-weight: 300;
}

.nav-links li a {
  text-decoration: none;
  color: var(--light-grey);
  font-size: 1em;
}

.social-icons {
  display: flex;
  margin: 12px 0;
  list-style: none;
  padding: 0;
  padding-right: 1em;
  display: flex;
  align-items: center;
}

.social-icons a {
  margin-right: 10px;
  text-decoration: none;
  color: var(--light-grey)
}

.social-icons i {
  font-size: 1.2em;
  margin: 0 10px;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rocket-launch-container {
  /*border: 1px solid;*/
}

  .team-section {
    padding: 100px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  
  .team-content {
    display: flex;
    align-items: center;
  }
  
  .team-content img {
    height: 400px;
    width: auto;
    margin-right: 100px;
  }
  
  .text-content {
    width: 600px;
  }


.main-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  /*border: 1px solid;*/
}

.main-title>h1 {
  margin: 0;
}


.competition-info img {
  width: 400px;
  height: auto;
  margin-top: 20px;
  margin-left: 100px;
}

.filter {
  position: fixed;
  padding: 0;
  margin: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: url(#noiseFilter);
  opacity: 12%;
}

.launch-info-content-wrapper,
.about-us-content-wrapper{
  display: flex;
  max-width: 960px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {

}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .section{
    margin: 0 auto;
    width: 400px;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

  .main-title{
    padding-top: 45px;
    padding-bottom: 90px;
  }

  .contact-container {
    width: min(45em, 100%);
    margin: 0 auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    align-items: center;
}

  .contact{
  background-color: var(--light-algonquin-green);
  display: flex;
  align-items: center;
  padding: 3rem 0;
    
  }

  .contact-title{
    margin: 0;
    color: var(--algonquin-green);
    font-size: 60px;
    font-weight: 400;
    text-align: center;
  }



.contact-form {
  margin-top: 4rem;
  padding: 2rem;
  display: grid;
  --cols: 1;
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: 1.5rem;
    background-color: var(--off-white);
}
.form-unit.full {
  grid-column: 1/-1;
}

form {
  max-width: 45rem;
  margin: 0 auto;
  
  padding: 2rem;
  border-radius: 1rem;
  border: 0.0625rem solid #ddd;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1333333333);
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

label {
  gap: 1rem;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

input,
select,
textarea {
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

  .contact-button{
    background-color: var(--algonquin-green);
    padding: 0.55em 1.5em 0.5em;
    border: 0.125rem solid var(--color-accent);
  color: #fff;
  border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  cursor: pointer;
  margin-top: 1rem;
  text-align: center;
  width: 25%;

  }
  
  .contact-button:hover{
    background-color: var(--dark-algonquin-green);
  }

  @media only screen and (min-width: 45em) {
    .contact-form {
      grid-column: span 2;
      --cols: 2;
    }
    .contact-title {
      font-size: 3.157rem;
    }
  }

  .contact-subtitle{
    margin: 0;
    margin-top: 4rem;
    color: var(--algonquin-green);
    font-size: 40px;
    font-weight: 400;
    text-align: center;
  }

  .sponsor-button {
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 1em 2em;
    background-color: var(--algonquin-green);
    color: var(--off-white);
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.sponsor-button:hover {
  background-color: var(--dark-algonquin-green);
}




